body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse{ 
    background-color:#4CAF50;
    border-bottom-color:#4CAF50;
    /*border:none;*/
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-top:35px;*/
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select,
textarea {
    max-width: 280px;
}

 /*.nav-pills{ 
     border-right: 2px solid #cccccc;
 }*/
 .nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
}
.subheaderAddUser{
    margin-top:20px;
    margin-bottom: 10px;
    font-size:16px; 
    color:#616161;  
}
.nav-pills > li > a {
    border-radius: 0px;
    border-bottom:1px solid #BDBDBD;
    color:#757575;
    cursor:pointer;
    margin-top:1px;
    margin-bottom:1px;
}
.nav > li > a:hover, .nav > li > a:focus {
     border-radius: 0px; 
    color:#fff;
    background-color:#BDBDBD;
}
.nav-pills > li.active > a {
    border-radius: 0px;
    border-bottom:1px solid #4CAF50;
    color:#fff;
    background-color: #4CAF50;
}
.nav-pills > li.active > a:hover {
    border-radius: 0px;
    border-bottom:1px solid #4CAF50;
    color:#fff;
    background-color: #4CAF50;
}


#mainBodyContent{
    margin-left:250px;
}
 
#fixNavbarLeft{
    width:240px;
    padding-top:50px;
    height: 100%; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden; 
   box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2);
}


.rowAddUser{
     margin-bottom:7px;
}


#loginContainer{
    border-radius:7px;
    margin-top:80px;  
    width:100%;
    height:auto; 
    padding-top:4em;
    padding-bottom:2em;
    padding-left:4em;
    padding-right:2em;
}
#firstNavItem{
    margin-top:2px;
}
#userTextHeader{  
    font-size:25px;
}

.control-label {
    color:#757575;
    font-weight:normal;
}
#dt-label{
    text-align:left;
    width:120px;
}
.dl-horizontal dd{
    margin-left:0px;
}
dt{ 
} 
dd{
    color: #757575;
    margin-bottom:15px; 
}
.details-label{
    color: #757575;
    font-weight: normal;
}

.details-content{
    color:#424242;
    font-weight:normal;
    font-size: 18px;
    border-bottom:1px solid #ccc; 
}

.userHeader{
    font-size:  20px;  
    color:#616161;
    border-bottom:2px solid #4CAF50;
}

.form-control:focus{
    border-color:#4CAF50;
    
}

#btnLogin{
    margin-top:45px; 
    font-size:25px;
}
#viewContent{
    margin-top: 30px;
}

.deleteModalHeader  {
    background-color:#4CAF50; 
    border-radius:5px 5px 0px 0px; 
    color:#fff;
} 

.deleteModalFooter{
    border-radius:0px 0px 5px 5px;
    border:none;
}
#deleteModal{
    margin-top: 100px;
}
#updateModal{
    margin-top:100px;
}

#viewModal{
    margin-top:100px;
}
 