<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalErrorHeader" class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <span id="errorModalMessage">

                </span>
            </div>
            <div class="modal-footer">
                <button  type="button"  class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"+>Close</button>
            </div>
        </div>
    </div>
</div>