@using (Html.BeginForm("ViewUser", "User", FormMethod.Get, new { @id = "viewForm" }))
{ 
<div id="viewModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#4CAF50; border-radius:5px 5px 0px 0px; color:#fff">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalViewUserHeader" class="modal-title">View User Details </h4>
            </div>
            <div class="modal-body">
                <div>
                    <label class="control-label" for="userName">Enter username of the user you want to view details</label>
                    <input id="viewUsername" type="text" class="form-control" placeholder="Username" oninput="" name="userName" />
                    <span id="viewUsernameError" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-primary" onclick="CheckUsernameInViewDetails($('#viewUsername').val());">View</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
}